.cta {
  padding: 2rem 2rem;
  padding-bottom: calc(2rem - 6px);
  border-bottom: 6px solid rgba($sc-gray, 0.5);
  margin-top: 1.75rem;
  background-color: $brdr-main;

  @include media-breakpoint-up(lg) {
    padding: 5rem 2rem;
    padding-bottom: calc(5rem - 6px);
  }

  &:not(:last-child) {
    margin: 1.75rem 0;
  }

  h3 {
    font-size: $h3-font-size * 0.875;
  }

}
