// Sub-Navigation Menus

.subNav {
  display: none;
  &.is-open {
    display: block;
  }
  @include media-breakpoint-up(md) {
    display: block;
  }
  li{
    &:not(:last-of-type) {
      border-bottom: 1px solid $white;
    }
  }

  a {
    color: $black;
    padding: 0.75rem 1rem;
    background-color: $subnav;
    transition: ease all .3s;

    @include hover-focus-active {
      text-decoration: none;
      color: $black;
      background-color: $gray-300;
    }

    &.active {
      color: $primary;
      background-color: $gray-100;
    }
  }

  &--dropdown {
    a {
      padding-left: 2rem;
      background-color: $gray-100;
      &:first-child {
        border-top: 1px solid $white;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid $white;
      }
    }

  }
  .dropdown-item {
    white-space: normal;
  }

  h4 {
    margin: 0;
    padding: 0.75rem 1rem;
    border: 1px solid $brdr-main;
  }

}

.subNav-m-menu {
  display: block;
  position: relative;
  background-color: $gray-100;

  .sub-toggle {
    // position: absolute;
    // right: 0;
    width: 100%;
    cursor: pointer;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}
