// Custom SC Colours
$sc-gray: $gray;
$sc-green: $primary;
$sc-gold: $secondary;
$subnav: $gray-200;

// Font weights for the the main font
$fw-l:  300;
$fw-n:  400;
$fw-sb: 600;
$fw-b:  700;

// Border sizes
$brdr-xs: 0.0625rem;
$brdr-sm: 0.1875rem;
$brdr-md: 0.5rem;
$brdr-lg: 1rem;

$brdr-main: $gray-200;

// Padding
$pad-standard: 1.75rem;

// Transitions
$trans-std: ease all 0.3s;

// Randoms
$footer-bg: $breadcrumb-bg;
